/*顶部区域*/
.top{
    height:115px;
    width: 1200px;
    overflow: hidden;
    margin: 0 auto;
}
.top_in{
    width: 1200px;
    height: 100%;
    background: url("../images/bn.jpg");
    margin: 0 auto;
}
.top .top_right{
    float: right;
    height: 100%;
    width: 380px;
}
.top .top_nav{
    float: left;
    height: 100%;
    width: 550px;
}
.top .top_nav>li{
    float: left;
}
.top .top_nav>li>a{
    font-size: 20px;
    font-weight:bold;
    color: black;
    line-height: 60px;
    margin-left:20px;
}
.top .top_nav>li>a:hover{
    color: #e82c07;
}
.content{
    height:1200px;
    width: 1200px;
    background: url("../images/background.jpg");
    margin: 0 auto;
}
.content .content_index{
    float: left;
    height: 100%;
    width: 250px;
    background: url("../images/background.jpg");
}
.content .content_intro{
    height: 900px;
    width: 1200px;
    background: url("../images/background.jpg")
}
.content .content_intro>h3{
    font-size: 30px;
    color: black;
    text-align: center;
    margin-bottom: 15px;
}
.content .content_intro>pre{
    font-size: 18px;
    color:black;
    text-align: left;
    overflow: auto;
}
.content .content_intro>a>h4{
    font-size: 24px;
    color: cadetblue;
    text-decoration: underline;
    text-align: center;
}
/*底部区域*/
.footer{
    height:60px;
    width: 1200px;
    background-color: whitesmoke;
    margin: 0 auto;
}
.footer>h3{
    font-size: 20px;
    color: black;
    text-align: center;
}
