.top{
    height:115px;
    width: 1200px;
    overflow: hidden;
    margin: 0 auto
}
.top_in{
    width: 1200px;
    height: 100%;
    background: url("../images/bn.jpg");
    margin: 0 auto;
}
.top .top_right{
    float: right;
    height: 100%;
    width: 380px;
}
.top .top_nav{
    float: left;
    height: 100%;
    width: 550px;
}
.top .top_nav>li{
    float: left;
}
.top .top_nav>li>a{
    font-size: 20px;
    font-weight:bold;
    color: black;
    line-height: 60px;
    margin-left:20px;
}
.top .top_nav>li>a:hover{
    color: #e82c07;
}
.content{
    width: 1200px;
    height: 600px;
    margin: 0 auto;
    background: url("../images/background.jpg")
}
.content .content_nav{
    width: 300px;
    height: 100%;
    float: left;
}
.content .content_nav>li{
    list-style: none;
}
.content .content_nav>li>a{
    background:url(../images/border.png) no-repeat;
    background-color:inherit;
    color:black;
    font-size: 18px;
    margin-top: 10px;
    text-align: center;
    padding:10px;
    width:200px;
    display:block;
    text-decoration:none;
    -webkit-transition:all 0.3s ease-out;
    -moz-transition:all 0.3s ease-out;
    -o-transition:all 0.3s ease-out;
    -webkit-box-shadow:2px 2px 4px black;
    -moz-box-shadow:2px 2px 4px white;
    -o-box-shadow:2px 2px 4px white;
}
.content .content_nav>li>a:hover{
    background:#ebebeb url(../images/border.png) no-repeat;
    color:#67a5cd;
    padding:20px;
}
.content .content_nav>h3{
    margin-top: 15px;
    margin-left: 20px;
    line-height: 35px;
    font-size: 22px;
    font-weight: bold;
    color: black;
}
.content .content_middle{
    height: 100%;
    width: 900px;
    float: left;
    margin: 0 auto;
}
.content .index{
    width: 900px;
    height: 60px;
    float:left;
    margin: 0 auto;
}
.content .btt>li{
    float: left;
    margin-left: 10px;
    width: 25px;
    height: 25px;
    margin-top: 25px;
    line-height: 1.5em;
    text-align: center;
    font-size: 20px;
    color: black;
    border-radius: 5px;
}
.content .btt>li:hover {
    border: 1px solid black;
}
.content .materials>p>a{
    font-size: 20px;
    color: black;
    margin-top: 5px;
    font-weight: bold;
    line-height: 45px;
}
.content .materials>p>a:hover{
    color: #e82c07;
}
/*底部区域*/
.footer{
    height:40px;
    width: 1200px;
    background-color: whitesmoke;
    margin: 0 auto;
}
.footer>h3{
    font-size: 20px;
    color: black;
    text-align: center;
}